@import '~@bit/smart-solution-4u.ss4u-components.global.variables';

.btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    background: $primary-color;
    color: white;
    border: none;
  &:hover {
      background: greenyellow;
    }
  }