@import "~@bit/smart-solution-4u.ss4u-components.global.variables";

@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
  }
}
.btn-round {
  border-radius: 30px;
}
.bg-indigo {
  background: indigo;
}
.text-cyan {
  color: #35bdff;
}

.teste {
  color: #35bdff;
}
